@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", system-ui, sans-serif;
    justify-content: center;
}

.btn {
    transform: translate(0%, 200%);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.btn-whatsapp {
    right: 25px;
    bottom: 25px;
    position: fixed;
    background-color: #77a3be;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 45px;
    height: 45px;
    transition: background-color 0.15s, opacity 0.2s, visibility 0.2s, transform 0.2s;
    box-shadow: 0px 0px 15px rgba(0, 106, 138, 0.1);
    width: auto;
    color: white;
}

.btn-whatsapp:hover {
    cursor: pointer;
    background-color: #739db8;
}

.btn-top {
    left: 25px;
    bottom: 25px;
    position: fixed;
    background-color: #77a3be;
    padding: auto;
    border-radius: 45px;
    height: 45px;
    width: 45px;
    transition: background-color 0.15s, opacity 0.2s, visibility 0.2s, transform 0.2s, padding 0.15s;
    box-shadow: 0px 0px 15px rgba(0, 106, 138, 0.1);
    color: white;
}

.btn-top img {
    transform: rotate(-90deg);
    width: 22px;
}

.btn-top:hover {
    cursor: pointer;
    background-color: #739db8;
    padding-bottom: 18px;
}

a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1050px) {
    .btn {
        transform: translate(0%, 200%);
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        padding: 12px;
        font-size: 16px;
        border: none;
        border-radius: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 13px;
        font-weight: 600;
    }
    
    .btn-whatsapp {
        right: 20px;
        bottom: 20px;
        position: fixed;
        background-color: #77a3be;
        padding-right: 25px;
        padding-left: 25px;
        border-radius: 45px;
        height: 45px;
        transition: background-color 0.15s, opacity 0.2s, visibility 0.2s, transform 0.2s;
        box-shadow: 0px 0px 15px rgba(0, 106, 138, 0.1);
        width: auto;
        color: white;
    }
    
    .btn-whatsapp:hover {
        cursor: pointer;
        background-color: #77a3be;
    }
    
    .btn-top {
        left: 20px;
        bottom: 20px;
        position: fixed;
        background-color: #77a3be;
        padding-bottom: 12.5px;
        border-radius: 45px;
        height: 45px;
        width: 45px;
        transition: background-color 0.15s, opacity 0.2s, visibility 0.2s, transform 0.2s, padding 0.15s;
        box-shadow: 0px 0px 15px rgba(0, 106, 138, 0.1);
        color: white;
    }
    
    .btn-top img {
        transform: rotate(-90deg);
        width: 20px;
    }
    
    .btn-top:hover {
        cursor: pointer;
        background-color: #77a3be;
        padding-bottom: 12.5px;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
}

.info {
    background-color: #83aec9;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 6px;
    padding-left: 10%;
    padding-right: 10%;
}
.info p {
    color: #ffffff;
    font-size: 12.5px;
}

.info-mobile {
    display: none;
}


.nav-background {
    width: 100%;
    background-color: #e0abc0;
    display: flex;
    justify-content: center;
}

.navbar {
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 85%;
    max-width: 1300px;
    height: 70px;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-l {
    font-size: 20px;
    font-weight: bold;
    width: 85px;
    height: 70px;
    background-image: url(imgs/l1.png);
    background-size: 85px;
    background-repeat: no-repeat;
    background-position: 50% 75%;
}

.logo-official {
    margin-left: -10px;
    display: flex;
    justify-content: center;
}

.logo-official img {
    width: 185px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 15px;
    display: flex;
    justify-content: center;
}

.li-mobile {
    display: none!important;
}

.li-desktop  {
    display: block;
}

.fa-instagram, .fa-whatsapp{
    font-size: 20px;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.15s;
}

.nav-links a:hover {
    color: #ffe8f1;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

@media (max-width: 1050px) {
    .nav-links {
        display: block;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background: #e0abc0;
        width: 100%;
        height: auto;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
        left: 0;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
        justify-content: left;
        max-height: 600px;
        
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle {
        display: flex;
        font-size: 20px;
        cursor: pointer;
        color: white;
        background: none;
        border: none;
        justify-content: center;
        align-items: center;
    }
    
    .nav-links li {
        margin: 0px 0;
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #e9b9cc;
    }

    .nav-links a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        color: rgb(255, 255, 255);
        text-align: left;
        font-size: 12.5px;
    }

    .li-mobile {
        display: block!important;
    }
    
    .li-desktop  {
        display: none!important;
    }

    .info {
        display: none;
    }

    .info-mobile {
        display: block;
        background-color: #83aec9;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 6px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .info-mobile p {
        color: #ffffff;
        font-size: 9px;
    }

    .navbar {
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px 10px 0px;
        width: 80%;
        max-width: 1300px;
        height: 55px;
    }

    .logo-official img {
        width: 140px;
    }

    .logo-l {
        font-size: 20px;
        font-weight: bold;
        width: 70px;
        height: 55px;
        background-image: url(imgs/l1.png);
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: 50% 68%;
    }

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.home {
    width: 100%;
    height: 770px;
    background: linear-gradient(to top, rgb(243, 250, 255), #ffffff);
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
}

@media (min-width: 1600px) {
    .home {
        width: 100%;
        height: 950px;
        background: linear-gradient(to top, rgb(243, 250, 255), #ffffff);
        display: flex;
        justify-content: space-between;
        padding-left: 5%;
    }
}

.text {
    height: 100%;
    width: 50%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    padding-top: 0;
    padding-right: 8%;
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: 100% 100%;
}

.text h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #83aec9;
    line-height: 55px;
}

/* azul: #95bfda */

.text p {
    font-size: 14.5px;
    color: #95bfda;
    margin-bottom: 40px;
    font-weight: 400;
}

.photo {
    height: 100%;
    width: 50%;
    background-image: url(imgs/IMG_5040.jpg);
    background-size: cover;
    background-position: 50% 40%;
    transition: all 0.2s;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn-schedule {
    background-color: #e0abc0;
    color: rgb(255, 255, 255);
    height: 50px;
    width: 40%;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.15s;
}

.btn-schedule:hover {
    cursor: pointer;
    background-color: #d89db4;
}

.btn-attendance {
    background-color: transparent;
    border: 1px solid #e0abc0;
    color: #e0abc0;
    width: 38%;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
}

.btn-attendance:hover {
    border: 2px solid #d89db4;
    color: #d89db4;
    cursor: pointer;
}

@media (max-width: 1050px) {
    .home {
        width: 100%;
        height: 850px;
        background: linear-gradient(to top, rgb(243, 250, 255), #ffffff);
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-left: 0;
    }

    .text {
        height: auto;
        width: 100%;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5%;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 10%;
        padding-left: 10%;
        background-repeat: no-repeat;
        background-size: 600px;
        background-position: 100% 100%;
        
    }
    
    .text h1 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #83aec9;
        line-height: 40px;
    }
    
    /* azul: #95bfda */
    
    .text p {
        font-size: 14.5px;
        color: #95bfda;
        margin-bottom: 40px;
        font-weight: 400;
    }
    
    .photo {
        width: 100%;
        background-image: url(imgs/IMG_5040.jpg);
        background-size: cover;
        background-position: 50% 35%;
        transition: all 0.2s;
    }
    
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .btn-schedule {
        background-color: #e0abc0;
        color: rgb(255, 255, 255);
        height: 50px;
        width: 50%;
        border: none;
        border-radius: 25px;
        font-size: 13px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.15s;
    }
    
    .btn-schedule:hover {
        cursor: pointer;
        background-color: #e0abc0;
    }
    
    .btn-attendance {
        background-color: transparent;
        border: 1px solid #e0abc0;
        color: #e0abc0;
        width: 47%;
        height: 50px;
        border-radius: 25px;
        font-size: 13px;
        font-weight: 600;
    }
    
    .btn-attendance:hover {
        border: 1px solid #e0abc0;
        color: #e0abc0;
        cursor: pointer;
    }
}

.presentation {
    width: 80%;
    max-width: 1150px;
    min-height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.presentation-text {
    min-height: 700px;
    width: 50%;
    margin: 35px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
}

.presentation-text h2 {
    font-size: clamp(35px, 3vw, 50px);
    color: #83aec9;
    font-weight: 600;
}

.presentation-text h3 {
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 400;
}

.presentation-text p {
    font-size: clamp(10px, 1.5vw, 22px);
    margin-bottom: 15px;
    font-weight: 500;
}

.presentation-text-extra {
    width: 100%;
    background-color: #83aec9;
    margin-top: auto;
    border-radius: 40px;
    padding: 6%;
    align-items: center;
    height: auto;
    transition: all 0.2s
}

.presentation-text-extra:hover {
    transform: translate(0%, -.7%);
}

.presentation-text-extra p{
    font-size: 16px;
    margin-bottom: 0px;
    color: white;
    
}

.presentation-photo {
    min-height: 700px;
    flex-grow: 1;
    width: 50%;
    margin: 35px;
    margin-left: 0;
    background-image: url(imgs/IMG_5004.jpg);
    background-size: 600px;
    background-position: 50% 70%;
    border-radius: 40px;
    transition: all 0.2s;
}

.presentation-photo:hover {
    transform: translate(0%, -.5%);
}

@media (max-width: 1050px) {
    .presentation {
        width: 80%;
        min-height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .presentation-text {
        min-height: 700px;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    
    .presentation-text h2 {
        font-size: 30px;
        color: #83aec9;
        font-weight: 600;
    }
    
    .presentation-text h3 {
        font-size: 15px;
        margin-bottom: 5px;
        font-weight: 400;
    }
    
    .presentation-text p {
        font-size: 15px;
        margin-bottom: 15px;
        font-weight: 500;
    }
    
    .presentation-text-extra {
        width: 100%;
        background-color: #83aec9;
        margin-top: auto;
        border-radius: 40px;
        padding: 25px;
        align-items: center;
        height: auto;
        transition: all 0.2s;
        margin-bottom: 50px;
    }
    
    .presentation-text-extra:hover {
        transform: translate(0%, -.7%);
    }
    
    .presentation-text-extra p{
        font-size: 16px;
        margin-bottom: 0px;
        color: white;
    }
    
    .presentation-photo {
        height: 450px;
        min-height: unset;
        width: 100%;
        margin: 50px 0px 35px 0px;
        background-image: url(imgs/IMG_5004.jpg);
        background-size: cover;
        background-position: 50% 70%;
        border-radius: 40px;
        transition: all 0.2s;
    }
    
    .presentation-photo:hover {
        transform: translate(0%, -.5%);
    }
    
}

.benefits {
    height: auto;
    width: 100%;
    background-color: #e0abc0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(imgs/lbackground.png);
    background-size: 850px;
    background-position: -19.5% 50%;
    background-repeat: no-repeat;
}


.benefits-title {
    width: 80%;
    max-width: 1150px;
    margin-top: 95px;
}

.benefits-title h1 {
    color: white;
    font-weight: 600;
    font-size: 40px;
}

.benefits-texts {
    width: 80%;
    max-width: 1150px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
}

.box {
    background-color: #d89db4;
    padding: 25px;
    text-align: center;
    text-align: left;
    height: auto;
    border-radius: 20px;
    color: white;
    transition: background-color 0.15s;
}

.box:hover {
    background-color: #cf96ac;
}

.box h2 {
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 600;
}

@media (max-width: 1050px) {
    .benefits {
        height: auto;
        width: 100%;
        background-color: #e0abc0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(imgs/lbackground.png);
        background-size: 850px;
        background-position: -19.5% 50%;
        background-repeat: no-repeat;
    }
    
    
    .benefits-title {
        width: 80%;
        max-width: 1150px;
        margin-top: 95px;
    }
    
    .benefits-title h1 {
        color: white;
        font-weight: 600;
        font-size: 30px;
    }
    
    .benefits-texts {
        width: 80%;
        max-width: 1150px;
        height: auto;
        display: flex;
        flex-direction: column;
        grid-template-columns: unset;
        gap: 30px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    
    .box {
        background-color: #d89db4;
        padding: 25px;
        text-align: center;
        text-align: left;
        height: auto;
        border-radius: 20px;
        color: white;
        transition: background-color 0.15s;
    }
    
    .box:hover {
        background-color: #d89db4;
    }
    
    .box h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }
}

.attendance {
    background-color: #83aec9;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attendance-title {
    width: 80%;
    max-width: 1150px;
    margin-top: 95px;
    
}

.attendance-title h1 {
    color: white;
    font-weight: 600;
    font-size: 40px;
}

.attendance-texts {
    width: 80%;
    max-width: 1150px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
}

.box-2 {
    background-color: #77a3be;
    padding: 25px;
    text-align: center;
    text-align: left;
    height: auto;
    border-radius: 20px;
    color: white;
    transition: background-color 0.15s;
}

.box-2:hover {
    background-color: #739db8;
}

.box-2-title {
    display: flex;
    margin-right: 20px;
    gap: 15px;
    margin-bottom: 10px;
    align-items: center;
}

.box-2-title h2 {
    font-size: 22px;
    font-weight: 600;
}

@media (max-width: 1050px) {
    .attendance {
        background-color: #83aec9;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .attendance-title {
        width: 80%;
        max-width: 1150px;
        margin-top: 95px;
        
    }
    
    .attendance-title h1 {
        color: white;
        font-weight: 600;
        font-size: 30px;
    }
    
    .attendance-texts {
        width: 80%;
        max-width: 1150px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    
    .box-2 {
        background-color: #77a3be;
        padding: 25px;
        text-align: center;
        text-align: left;
        height: auto;
        border-radius: 20px;
        color: white;
        transition: background-color 0.15s;
    }
    
    .box-2:hover {
        background-color: #77a3be;
    }
    
    .box-2-title {
        display: flex;
        margin-right: 20px;
        gap: 15px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .box-2-title h2 {
        font-size: 22px;
    }
}

.instagram {
    background-color: white;
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
    max-width: 1150px;
}

.contact {
    width: 100%;
    height: 870px;
    background: white;
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding: 0;
}

.contact-text {
    height: 100%;
    width: 50%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    padding-top: 0;
    padding-right: 10%;
    padding-bottom: 0;
}

.contact-text h1 {
    font-size: 40px;
    font-weight: 400;
    color: #83aec9;
    line-height: 55px;
}

.contact-text h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #83aec9;
    line-height: 55px;
}

.contact-text h3 {
    font-size: 16px;
    color: #95bfda;
    margin-bottom: 40px;
    font-weight: 400;
}

.contact-photo {
    height: 100%;
    width: 50%;
    background-image: url(imgs/IMG_4986.jpg);
    background-size: cover;
    background-position: 50% 80%;
}

.actions {
    width: 100%;
}

.actions ul {
    list-style-type: none;
    flex-direction: column;
    margin: 0;
    width: 100%;
    text-decoration: none;
}

.actions ul li {
    background-size: 15px;
    background-position: 88% 50%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 18px 18px;
    color: rgb(255, 255, 255);
    background-color: #95bfda;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: all 0.3s;
    border: none;
    list-style-type: none;
    text-decoration: none!important;;
}

.actions p {
    font-size: 16px;
    font-weight: 400;
}

.actions i {
    font-size: 18px;
    color: #ffdbe9;
    margin-right: 20px;
}

#instagramcontato {
    margin-bottom: 0px;
}

.actions ul li:hover {
    background-image: url(imgs/chevron-right-svgrepo-com\ \(1\).svg);
    background-position: 95% 50%;
    transform: translate(0.6%, 0%);
    background-color: #83b1ce;

}

@media (max-width: 1050px) {
    .contact {
        width: 100%;
        height: 1068px;
        background: white;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-left: 5%;
        padding: 0;
    }
    
    .contact-text {
        height: auto;
        width: 100%;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10%;
        padding-top: 50px;
        padding-right: 10%;
        padding-bottom: 50px;
    }
    
    .contact-text h1 {
        font-size: 30px;
        font-weight: 400;
        color: #83aec9;
        line-height: 55px;
    }
    
    .contact-text h2 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #83aec9;
        line-height: 40px;
    }
    
    .contact-text h3 {
        font-size: 15px;
        color: #95bfda;
        margin-bottom: 40px;
        font-weight: 400;
    }
    
    .contact-photo {
        height: 35%;
        width: 100%;
        background-image: url(imgs/IMG_4986.jpg);
        background-size: cover;
        background-position: 50% 60%;
    }
    
    .actions {
        width: 100%;
    }
    
    .actions ul {
        list-style-type: none;
        flex-direction: column;
        margin: 0;
        width: 100%;
        text-decoration: none;
    }
    
    .actions ul li {
        background-size: 15px;
        background-position: 88% 50%;
        background-repeat: no-repeat;
        width: 100%;
        padding: 18px 18px;
        color: rgb(255, 255, 255);
        background-color: #95bfda;
        margin-bottom: 20px;
        border-radius: 20px;
        transition: all 0.3s;
        border: none;
        list-style-type: none;
        text-decoration: none!important;;
    }
    
    .actions p {
        font-size: 14px;
        font-weight: 400;
    }
    
    .actions i {
        font-size: 18px;
        color: #ffdbe9;
        margin-right: 20px;
    }
    
    #instagramcontato {
        margin-bottom: 0px;
    }
    
    .actions ul li:hover {
        background-image: none;
        transform: translate(0%, 0%);
        background-color: #95bfda;
    
    }
}

footer {
    width: 100%;
    background-color: #e0abc0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    width: 80%;
    max-width: 1150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    margin-bottom: 50px;
}

#footer_logo {
    padding-right: 25px;
}

#footer_logo h1 {
    margin-bottom: 0.75rem;
}

#footer_logo p {
    font-weight: 400;
    font-size: 13px;
}

#footer_social_media {
    display: flex;
    gap: 1.95rem;
    margin-top: 1.2rem;
} 

#footer_social_media i {
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.3s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    font-weight: 600;
    margin: auto;
    margin-top: 0;
}

.footer-link {
    transition: all 0.3s;
}

.footer-list h3 {
    font-size: 18px;
    font-weight: 600;
}

.footer-list a {
    font-size: 14px;
    font-weight: 500;
}

.footer-list ul li {
    padding: 0;
    margin: 0;
}

.footer-list .footer-link {
    color: rgb(255, 255, 255);
    
}

.footer-list .footer-link:hover {
    color: #ffe8f1;
    cursor: pointer;
}

#footer_copyright {
    display: flex;
    background-color: #d89db4;
    color: rgb(255, 255, 255);
    width: 100%;
    justify-content: center;
    font-size: 0.75rem;
    padding: 15.5px;
    font-weight: 400;
}

#torresdesign {
    font-weight: 600;
}

@media screen and (max-width: 1000px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        width: 80%;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-list .footer-link:hover {
        opacity: 1;
        transition: all 0.3s;
    }

    #footer_logo {
        margin: 0;
    }

    #footer_subscribe {
        margin: 0;
    }

    .footer-list {
        margin: 0;
    }

    .footer-list .footer-link:hover {
        color: #ffffff;
    }
    

    #footer_copyright {
        display: flex;
        justify-content: center;
        background-color: #d89db4;
        font-size: 0.7rem;
        padding: 10%;
        padding-top: 30px;
        padding-bottom: 90px;
        font-weight: 400;
    }
}